 <!--signature in footer-->  
    <footer>
	<table>
	    <tr>
		<td></td>
		<td><img id="footer_logo" alt="logo" src="../images/sm_mv_logo.jpg" href="https://microventures.com" /></td> 
		<td></td>
		<td><img id="twitter" alt="twitter" src="../images/twitter.jpg" href="https://twitter.com/microventures" /></td> 
		<td><img id="facebook" alt="facebook" src="../images/facebook.jpg" href="https://facebook.com/microventures" /></td> 
		<td><img id="pintrest" alt="pintrest" src="../images/pintrest.jpg" href="https://pintrest.com/microventures" /></td> 
		<td ><img id="google_plus" alt="google_plus" src="../images/google_plus.jpg" href="https://plus.google.com/microventures" /></td> 
		<td><img id="rss_feed" alt="rss_feed" src="../images/rss_feed.jpg" href="https://microventures.com/" /></td> 
	    </tr>
	</table>
    </footer>