<!--need to update!-->

<!--top navigation master header-->
<header>
    <nav>
	<div id="header_wrapper">
	    <table>
		<tr>
		    <td></td>
		    <td><img id="logo" src="../images/logo.jpg" href="https://sarapearce.net" /></td>
		    <td></td>
		    <td><a id="aquaman" href="http://marvel.com/search/?q=gambit&category=news" alt="gambit" target="_blank">
			    <h4>Aquaman</h4>
			</a>
		    </td>
		    <td>
			<a id="wonder_woman" href="http://www.imdb.com/title/tt0451279/" alt="rogue" target="_blank">
			    <h4>Wonder Woman</h4>
			</a>
		    </td>
		    <td>
			<a id="superman" href="http://marvel.com/search/?q=wolverine&category=news" alt="wolverine" target="_blank">
			    <h4>Superman</h4>
			</a>
		    </td>
		    <td>
			<a id="batman" href="http://marvel.com/search/?q=jean+grey&category=news" alt="jean_grey" target="_blank">
			    <h4>Batman</h4>
			</a>
		    </td>
		    <td>
			<a id="the_flash" href="http://marvel.com/search/?q=storm&category=news" alt="wolverine" target="_blank">
			    <h4>The Flash</h4>
			</a>
		    </td>
		    <td>
			<a id="green_lantern" href="http://marvel.com/search/?q=cyclops&category=news" alt="wolverine" target="_blank">
			    <h4>Green Lantern</h4>
			</a>
		    </td>
		</tr>
	    </table>
	</div>
    </nav>
</header>
