
<!--center section with computer images-->
<div id="main_page_wrapper">
    <h1>Your gateway to <em>venture capital</em></h1>
    <img id="computer_screens" alt="computer screens" src="../images/computer_screens.jpg" />
    <img id="start_now" alt="start now" src="../images/start_now_button.jpg" href="https://microventure.com/start"/>
</div>

<!--"how it works" section-->
<div id="how_it_works_wrapper" class="gray_background">
    <h1>How it works</h1>
    <table>
	<tr>
	    <td id="sign_up">
		<img id="sign_up_img" alt="sign up" src="../images/pencil.jpg" />
		<h2>Sign up</h2>
		<h4>Words!</h4>
	    </td>
	    <td id="call">
		<img id="call_img" alt="call" src="../images/phone.jpg" />
		<h2>If they find you</h2>
		<h4>Keep hiding deeper into a corner</h4>
	    </td>
	    <td id="review">
		<img id="review_img" alt="review" src="../images/paper.jpg" />
		<h2>You review</h2>
		<h4>The Investment <br /> Offerings</h4>
	    </td>
	    <td id="invest">
		<img id="invest_img" alt="invest" src="../images/dollar_sign.jpg" />
		<h2>You invest</h2>
		<h4>At your own pace, <br />with our assistance</h4>
	    </td>
	</tr>
    </table>
</div>


<!--what is microventures-->
<div id="what_is_mv_wrapper">
    <h1>What is $this->Gibberish?</h1>
    <table>
	<tr>
	    <td>
		<p>
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		    Vestibulum enim metus, volutpat eu pharetra ut, consectetur 
		    quis augue. Pellentesque habitant morbi tristique senectus et netus 
		    et malesuada fames ac turpis egestas. Interdum et malesuada fames ac 
		    ante ipsum primis in.
		</p>
	    </td>
	    <td>
		<p>
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		    Vestibulum enim metus, volutpat eu pharetra ut, consectetur 
		    quis augue. Pellentesque habitant morbi tristique senectus et 
		    netus et malesuada fames ac turpis egestas. Interdum et malesuada 
		    fames ac ante ipsum primis in.
		</p>
	    </td>
	    <td></td>
	</tr>
	<tr>
	    <td></td>
	    <td></td>
	    <td>
		<button id="sign_up_button" alt="sign up" src="../images/sign_up_button.jpg" href="https://microventures.com/signup">Push Me</button>
	    </td>
	</tr>
    </table>
</div>