/*styles for footer*/
/* line 3, ../sass/footer.scss */
footer {
  background-color: white;
  position: absolute;
  width: 100%;
  text-align: center;
}

/*#social {
    background: #8a80c3;
    color: #fafafa;
    padding: 25px 0;
    overflow: hidden;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
}

#social ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}

#social li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}

#social ul li img {
    margin: 20px;
}*/
/* line 46, ../sass/footer.scss */
footer table {
  background: white;
}

/* line 51, ../sass/footer.scss */
#footer_logo {
  width: 100px;
}
