/* line 1, ../sass/hero.scss */
#hero {
  background-image: url(images/bg_img.png) no-repeat top left;
  text-align: center;
  color: #fafafa;
  background-size: cover;
  height: 350px;
  padding: 25px 0;
}

/* line 10, ../sass/hero.scss */
#hero img {
  border-radius: 50%;
  margin-top: 30px;
}

/* line 14, ../sass/hero.scss */
#hero h2 {
  font-size: 400%;
  margin: 10px;
}

/* line 18, ../sass/hero.scss */
#hero span {
  border: 2px solid white;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  font-size: 150%;
}
