/*main body of html*/
/* line 3, ../sass/main_content.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/main_content.scss */
body {
  color: #333;
  font-family: 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
  padding-top: 66px;
}

/* line 13, ../sass/main_content.scss */
table {
  text-align: center;
}

/* line 17, ../sass/main_content.scss */
#main-content {
  text-align: center;
  /*offset from header and footer*/
  margin: 100px 0px -142px 0px;
  overflow: hidden;
  min-height: 100%;
}

/* line 25, ../sass/main_content.scss */
#main-content:after {
  /*content: ""; todo get rid of if it doesn't change anything'*/
  display: block;
}

/* line 30, ../sass/main_content.scss */
#main-content h3 {
  font-size: 250%;
  margin: 20px 0;
}

/*.column {
    float: left;
    width: 30%;
    padding: 15px;
}

.column img {
    width: 70%;
    max-width:70%;
    border-radius: 50%;
    border: 5px solid #8a80c3;
    margin-bottom: 20px;
}

.column h4 {
    color: #8a80c3;
    font-size: 150%;
    margin-bottom: 15px;
}

.column .btn {
    border: 2px solid #8a80c3;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
    text-decoration: none;
    color: #8a80c3;
}*/
/* line 65, ../sass/main_content.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 71, ../sass/main_content.scss */
table, th, td {
  margin: auto;
  /*border: 3px solid #73AD21;*/
  padding: 10px;
}

/* line 77, ../sass/main_content.scss */
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

/* line 84, ../sass/main_content.scss */
.rounded {
  border-radius: 40%;
}

/* line 88, ../sass/main_content.scss */
#group_pics {
  padding-top: 90px;
}

/* line 92, ../sass/main_content.scss */
#gibberish {
  padding-top: 90px;
}

/* line 96, ../sass/main_content.scss */
#gibberish_text {
  padding-bottom: 35px;
}

/* line 100, ../sass/main_content.scss */
.site_footer, #main_content:after {
  height: 142px;
}
