/*Base file for import along with media queries*/

@import 'reset';
@import 'common';
@import 'footer';
@import 'header';
@import 'hero';
@import 'images';
@import 'main_content';
@import 'texts';

/*media queries*/

@media only screen and (max-width: 901px) {
    .column {
        padding: 10px;
    }
    #hero h2 {
        font-size: 200%;
    }
    #main-content h3{
        font-size: 150%;
    }   
}

@media only screen and (max-width: 640px) {
    .column {
        float: none;
        width: 100%;
        padding: 0px;
        margin: 0 0 40px 0;
    } 
}

