h1, h2, h3, h4, h5, h6, p {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    text-align: center;
}

p {
    
    word-wrap: break-word;
    font-weight: 400;
    color: #453b3a;
    font-size: 16.68pt;
    width: 600px;
    line-height: 20px;
}

h1 {	

    font-weight: 200;
    font-size: 56.6px;
    text-shadow: 0.5px 0.5px #000000;
    color: #453b3a;
}

h2 {
    font-weight: 200;
    color: #453b3a; 
    font-size: 38.26pt; 
    text-shadow: 0.5px 0.5px #000000; 
    text-align: center;
}

h4 {
    text-align: center;
    word-wrap: normal;
    font-weight: 200;
    color: #453b3a;
    font-size: 14pt;
}


